* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-decoration: none;
  font-family: 'Secular One', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 200;
  color: #fefefe;
}

*:focus { outline: none; }

body {
  background: black;
}

#react-app {
  padding-top: 10px;
  width: 100%;
  max-width: 375px;
}

#video-background {
  position: fixed;
  left: -300px;
  top: -300px;
  z-index: -2;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
}

#video-background--overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background--info {
  position: fixed;
  bottom: 15px;
  right: 15px;

  background-color: rgba(0,0,0,0.8);
  opacity: 0.7;
  padding: 2px 5px;

  font-size: 12px;
  letter-spacing: 0.2em;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-background--info:hover { text-decoration: underline; }

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 28px;
  font-weight: 100;
}

.hero h1 .jazz {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #bb2a00;
  display: inline-block;
}

.title {
  color: rgba(255,255,255,0.7);
  margin-top: 50px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 55px;
}

.subtitle {
  color: rgba(255,255,255,0.5);
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dropdown {
  display: inline-block;
  width: 400px;
  max-width: 90%;
  text-transform: uppercase;
  overflow: hidden;
}

.dropdown .selectedOption {
  width: 80%;
  margin: 10px auto;
  border-bottom: 2px solid #eee;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.1em;
  position: relative;
  transition: all .2s;
}

.dropdown .selectedOption .caret {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 14px;
  transform: scaleY(0.75);
  -webkit-transform: scaleY(0.75);
  -moz-transform: scaleY(0.75);
  -o-transform: scaleY(0.75);
}

.dropdown .options {
  margin-bottom: 10px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.dropdown .options.hidden {
  transform: translate3d(0, -50px, 0);
  opacity: 0;
  z-index: -1;
  height: 0;
}

.dropdown .options--close {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  line-height: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  cursor: pointer;
  color: rgba(255,255,255,0.3);
}

.dropdown .options--close:hover {
  color: rgba(255,255,255,0.8);
}

.dropdown .options .option {
  letter-spacing: 0.1em;
  cursor: pointer;
  padding: 5px;
}

.calendar {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.calendar h4 {
  font-size: 13px;
  font-family: 'Playfair Display', sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.day {
  display: inline-block;
  background-color: rgba(0,0,0,0.8);
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  line-height: 30px;
  vertical-align: middle;
}

.dropdown .options .option:hover,
.day:hover {
  font-size: 120%;
}

.submitDate {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  margin-top: 20px;
  background-color: transparent;
  color: #FF5700;
  border: none;
  box-shadow: none;
  padding: 10px;
  width: 400px;
  max-width: 100%;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.submitDate:hover {
  opacity: 1;
}

.shows {
}

.show {
  padding: 10px 20px;
}

.show--time {
  background: #bb2a00;
  text-align: center;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding-top: 13px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.show--hours {
  font-weight: 400;
  letter-spacing: 0.05em;
}

.show--ampm {
  display: block;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.show--info {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
  padding-left: 10px;
  box-sizing: border-box;
}

.show--title {
  color: #fff;
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 0.5s;
  text-transform: uppercase;
}

.show--venue {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: #aaa;
}


#credits {
  text-align: center;
  font-size: 11px;
  margin-top: 50px;
  padding: 30px 0;
  letter-spacing: 0.1em;
}

#credits h4 {
  color: #616162;
}

#credits a {
  color: #ccc;
}

#credits a:hover {
  color: #fff;
}
